ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(237, 214, 245);
   }
   h1{
   color:rgb(152, 27, 225);
   text-aligin:center;
   }
   
   p {
     font-family:veranda;
     font: size 18px;px;
   }
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8e8a8a;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: round;
    color: rgb(6, 6, 6)
    text-align: center;
    padding: 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  
  

  